* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

/* tema claro quando o HTML tiver class="light" */
html.light {
  --text-color: #111;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/Sun.svg);
}

html, body {
  height: 100%;
}

html {
  min-height: 100%;
  background: var(--bg-url) no-repeat top center / cover;
  transition: background 0.3s ease;
}

body {
  min-height: 100%;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 0 auto;
  padding: 56px 24px 0;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  /* variável de posição */
  --x: 0px;

  transform: translateY(-50%) translateX(var(--x));
  transition: transform 0.3s ease, background 0.3s ease, outline 0.2s ease;
}

/* movimento quando muda o tema */
.light #switch button {
  --x: 32px;
}

/* animação ao passar o mouse */
#switch button:hover {
  outline: 8px solid var(--highlight-color);
  transform: translateY(-50%) translateX(var(--x)) scale(1.05);
}

/* efeito ao clicar */
#switch button:active {
  transform: translateY(-50%) translateX(var(--x)) scale(0.95);
}

/* barra do switch */
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

  transition: background 0.3s ease, border-color 0.3s ease;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s, border 0.2s, transform 0.1s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  transform: translateY(-1px);
}

/* social links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s, transform 0.1s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
  transform: translateY(-1px);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

/* -------- DESKTOP -------- */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  html.light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
